<div *ngIf="form">
    <ng-container *ngFor="let control of form.controls">
        <input *ngIf="control.type === getControlType().TEXT" #textInput (change)="updateValue(control, textInput)" type="text" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
        <input *ngIf="control.type === getControlType().PASSWORD" #passwordInput (change)="updateValue(control, passwordInput)" type="password" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
        <input *ngIf="control.type === getControlType().EMAIL" #emailInput (change)="updateValue(control, emailInput)" type="email" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
        <div *ngIf="control.type === getControlType().RADIO">
            <input #radioInput type="hidden" [required]="control.required" [id]="control.selector" [value]="control.defaultValue || control.options?.[0]?.value">
            <ng-container *ngFor="let option of control.options">
                <div (click)="radioInput.value = '' + option.value; updateValue(control, radioInput)" style="display: flex; align-items: center; cursor: default;" [class.selected]="control.value === option.value">
                    <ng-container *ngTemplateOutlet="radioTemplate"></ng-container>
                    {{ option.label | translate}}
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>

<ng-template #radioTemplate>
    <div class="radio"></div>
</ng-template>